{% extends 'todoapp/base.html' %}
{% block content %}
<h2 class="mb-3">my todos</h2>

{% if todos %}

<ul class="list-group">
    {% for todo in tools %}
    <li class"list-group-item d-flex justify-content-between align-items-center">
        <div>
            <strong>{{todo.title}}
                <small>
            priority: {{todo.prority}}
            due date: {{todo.due_date}}
                </small>
        </div>
        {% if todo.is_completed %}
        <span class="badge text-success">completed,</span>
        {% else %}
        <span class"badge text warning">pending</span>
        {% endif %}
    </li>
    {% else %}

        {% if todo.is_completed %}
        <span>completed</span>
        {% else %}

    </li>
</ul>
{% else %}
<p>no tasks yet</p>
{% endblock %}


